<h1>Passenger Details</h1>

<h3><%= @passenger.name %></h3>
<h3>Phone Number: <%= @passenger.phone_num %></h3>

<h3>Total Paid: $<%= @passenger.total_spend%></h3>

<%= button_to("Add a New Trip", passenger_trips_path(@passenger.id)) %>

<%= link_to("Edit", edit_passenger_path(@passenger.id)) %>

<%= link_to("Delete", passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure you want to delete this passenger?"}) %>

<h2>Trips</h2>
<% @passenger.trips.each do |trip| %>

  <%= trip.id %>
  <%= trip.date %>
  <%= trip.driver.name %>
  <%= trip.passenger.name %>
  <%= trip.cost %>
  <%= trip.rating %>

  <%= render partial: "layouts/error_messages", locals: { model: trip } %>
  <% if trip.rating == nil %>
    <!-- <%= button_to("Rate Trip", edit_trip_path(trip.id)) %> -->

    <%= form_for trip do |f| %>
      <%= f.label :rating, "Rating" %>
      <%= f.number_field :rating, in: 0..5 %>
      <%= f.submit %>
    <% end %>

  <% end %>


  <br>
<% end %>
