<!DOCTYPE html>
<html>
  <head>
    <title>RideshareRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "RideShare", root_path %></li>
        <li class="dropdown">
          <a class="dropbtn">Drivers</a>
          <div class="dropdown-content">
            <%= link_to "Driver List", drivers_path %>
            <%= link_to "Add a Driver", new_driver_path %>
          </div>
        </li>
          <li class="dropdown">
          <a class="dropbtn">Passengers</a>
          <div class="dropdown-content">
            <%= link_to "Passenger List", passengers_path %>
            <%= link_to "Add a Passenger", new_passenger_path %>
          </div>
        </li>
        <li>
          <%= link_to "All Trips", trips_path %>
        </li>
      </ul>

    </nav>

    <%= yield %>
  </body>
</html>
